// colors
$slash-color: lightgray;

$pcp-palette-option-bg-color: white;
$pcp-palette-option-border-color: gray;
$pcp-palette-option-active-border-color: aqua;

$pcp-selector-seperator-color: gray;

// sizes
$option-width: 30px;
